body{
    font-family: monospace;
}

#output{
    font-size: 200%;
}

#myButton{
    width: 200px;
    height: 50pt;
    font-size: 15pt;
}

@media only screen and (max-width: 600px){
    body{
        text-align: center;
    }
}